html, body, form {
    height: 100%;
    width: 100%;
    margin: 0;
}

/*label, input {*/
/*    display: inline-block;*/
/*}*/

form {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;
}

#content {
    display: block;
    margin-top: -200px;
}

p {
    margin: auto;
    height: 20%;
    background-color: cornflowerblue;
    color: white;
    font-size: 80px;
    text-align: center;
    padding-top: 30px;
}
