p {
    display: inline-block;
    color: darkblue;
}

body {
    width: 100%;
}

#wrap {
    border: 1px solid blue;
    padding: 25px;
    width: fit-content;
    background: lightgrey;
    display: inline-grid;
    min-width: 20%;
    max-width: 40%;
}

#info{
    font-weight: bold;
    font-size: x-large;
    background-color: darkgrey;
    width: 100%;
    margin-left: -20px;
    padding: 20px 10px 20px 30px;
    margin-top: -20px;
}

h1{
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    margin: auto;
}

#username{
    color: white;
}

#container{
    display: flex;
}


#post-container {
    padding-top: 50px;
    flex-grow: 1;
    text-align: center;
}