<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Userbook</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">

</head>
<body>
    <p>UserBook</p>
    <form method="GET" action="/login">
        <div id="content">
            <label for="username"> Username: </label><br>
            <input type="text" id="username" name="username" th:value="renu"><br><br>
            <label for="password"> Password: </label><br>
            <input type="password" id="password" name="password" th:value="shrestha"><br><br>
            <input type="submit" value="Login">
            <input type="submit" formaction="/signup-home" value="Sign Up">
        </div>
    </form>


</body>
</html>