<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post</title>
</head>
<body>
    <table>
        <tr th:each="message: ${posts}">
            <td th:text="${message}" />
        </tr>
    </table>
</body>
</html>