<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userbook</title>
    <!--    In thymleaf we, need both href and th:href for connecting to css-->
    <link rel="stylesheet" href="../static/css/userbook.css" th:href="@{/css/userbook.css}">
</head>
<body>
    <h1>Welcome <p id="username" th:text="${user.getUsername()}" /></h1>
    <div id="container">
        <div id ="wrap">
            <label id="info"> Information </label><br><br>
            <Label> Address: <p th:text="${user.getAddress()}" /></Label><br>
            <label> Phone Number: <p th:text="${user.getPhoneNumber()}" /></label><br>
            <Label> EmailID: <p th:text="${user.getEmailID()}" /></Label>
        </div>
        <div id="post-container">
            <form id="post" method="GET" action="/post">
                <label>What's in your mind?</label><br>
                <input type="text" id="message" name="message"><br>
                <input id="emailID" name="emailID" type= "hidden" th:value="${user.getEmailID()}">
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
</body>
</html>